.global-footer {
	background-color: #4b4e2a;
	color: #fff;
	height: 100%;
	margin-top: 120px;
	width: 100%;
	&-arrow {
		display: block;
		margin: 0 0 20px;
	}
	&-copyright {
		font-size: 11px;
		margin: 0 0 20px;
	}
	&-inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 60px 20px 20px;
	}
	&-title {
		font-size: 26px;
		letter-spacing: .12em;
		margin:  0 0 20px;
		writing-mode: vertical-lr;
		@extend .font-yu_mincho;
	}
}
