.news-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(960 + 40) + 'px';
	width: calc((960 /1280) * 100) + '%';
	&-item {
		display: flex;
		justify-content: space-between;
		width: calc(( 300 / 960 ) * 100) + '%';
		&-col {
			&._left {
				width: 35%;
			}
			&._right {
				width: 60%;
			}
			&-cat {
				font-size: 12px;
				margin-top: 10px;
			}
			&-date {
				font-size: 12px;
			}
			&-thumb {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				display: block;
				height: 0;
				padding-top: 100%;
				width: 100%;
			}
			&-title {
				font-size: 14px;
				margin-top: 10px;
			}
		}
	}
	&-more {
		margin-top: 20px;
		text-align: right;
		width: 100%;
		&-link {
			color: #000;
			font-size: 12px;
		}
	}
}

.news,.report {
	.news-list {
		margin-top: -40px;
		&-item {
			margin-top: 40px;
			&-col {
				&._left {
				}
				&._right {
				}
				&-cat {
				}
				&-date {
				}
				&-thumb {
				}
				&-title {
				}
			}
		}
	}
}
