extends layout/_layout
block content
    .js-switch-template-button(data-onclick-switch-template-name='theme2')
        p Switch<br>Theme2
    .inner
        .flex-content
            .js-switch-template-content.vh-content.color-blue(data-onclick-switch-template-name='theme1')
            .js-switch-template-content.vh-content.color-red.none(data-onclick-switch-template-name='theme2')
