<meta charset="utf-8">
<title>{{ default['site_info']['title'] }}</title>
<meta name='keywords', content="">
<meta name="description" content="">
<meta name="url" content="">
<meta name="image" content="">
<meta name="Author" content="">
<meta name="Copyright" content="">

<meta property="og:url" content="">

<meta property="og:type" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">

<meta property="og:image" content="">
<meta property="og:site_name" content="">
<meta property="og:locale" content="">
