{% extends "layout.html" %}
{% block content %}
		<section class="section">
			<div class="mv">
				<h1 class="mv-title">{{ default['site_info']['title'] }}</h1>
				<div class="swiper-container mv-slide">
					<div class="swiper-wrapper">
						<!--<div class="swiper-slide" style="background-image:url('{{ default['build_route'] }}/images/mv_slide_sample.jpg')"></div>-->
						<!--<div class="swiper-slide" style="background-image:url('{{ default['build_route'] }}/images/mv_slide_sample02.jpg')"></div>-->
						<!--<div class="swiper-slide" style="background-image:url('{{ default['build_route'] }}/images/mv_slide_sample03.jpg')"></div>-->
						<div class="swiper-slide" style="background-image:url('{{ default['build_route'] }}/images/mv_slide_sample_01_01.jpg')"></div>
						<div class="swiper-slide" style="background-image:url('{{ default['build_route'] }}/images/mv_slide_sample_01_02.jpg')"></div>
						<div class="swiper-slide" style="background-image:url('{{ default['build_route'] }}/images/mv_slide_sample_01_03.jpg')"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="section" id="news">
			<h2 class="section-title js-inview-item">NEWS</h2>
			<div class="section-item">
				<div class="news-list js-inview-item">
					{% for news in news_list %}
						<div class="news-list-item">
							<div class="news-list-item-col _left">
								<a class="news-list-item-col-thumb" style="background-image:url('{{ default['build_route'] }}/images/news_thumb_sample.jpg')" href=""></a>
							</div>
							<div class="news-list-item-col _right">
								<div class="news-list-item-col-date">{{ news.date }}</div>
								<div class="news-list-item-col-cat">{{ news.cat }}</div>
								<div class="news-list-item-col-title">{{ news.title }}</div>
							</div>
						</div>
					{% endfor %}
					<div class="news-list-more">
						<a class="news-list-more-link" href="./news">もっと見る →</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section" id="about">
			<h2 class="section-title js-inview-item">ABOUT</h2>
			<div class="section-item">
				<div class="about js-inview-item">
					<div class="about-item">
						<img src="{{ default['build_route'] }}/images/about_sample.jpg">
					</div>
					<div class="about-item">
						<div class="about-item-title">岳会について</div>
						<div class="about-item-text">
							ぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよ<br>
							ぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよ<br>
							ぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよぴよ
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section" id="report">
			<h2 class="section-title js-inview-item">REPORT</h2>
			<div class="section-item">
				<div class="news-list js-inview-item">
					{% for news in news_list %}
						<div class="news-list-item">
							<div class="news-list-item-col _left">
								<a class="news-list-item-col-thumb" style="background-image:url('{{ default['build_route'] }}/images/news_thumb_sample.jpg')" href=""></a>
							</div>
							<div class="news-list-item-col _right">
								<div class="news-list-item-col-date">{{ news.date }}</div>
								<div class="news-list-item-col-cat">{{ news.cat }}</div>
								<div class="news-list-item-col-title">{{ news.title }}</div>
							</div>
						</div>
					{% endfor %}
					<div class="news-list-more">
						<a class="news-list-more-link" href="./report">もっと見る →</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section" id="contact">
			<h2 class="section-title js-inview-item">CONTACT</h2>
			<div class="section-item">
				<div class="contact js-inview-item">
					<!-- 仮で当てているだけです -->
					<p style="text-align:center;">
						以下のアドレスの「あっとまーく」を「@」にして、連絡ください。<br><br>
						<a href="mailto:gakkai_contact@gmail.com">gakkai_contactあっとまーくgmail.com</a>
					</p>
				</div>
			</div>
		</section>
{% endblock %}
