<!DOCTYPE html>
<html lang="ja" dir="ltr">
	<head>
		<meta charset="utf-8">
		{% include "./config/_init.html" %}
		{% include "./config/_meta.html" %}
	</head>
	<body id="top" class="{{ tag }}">
		<header class="global-header">
			<div class="global-header-inner">
				<nav class="global-header-nav">
					<ul class="global-header-nav-list">
						<li class="global-header-nav-list-item"><a href="{{ under }}#news">NEWS</a></li>
						<li class="global-header-nav-list-item"><a href="{{ under }}#about">ABOUT</a></li>
						<li class="global-header-nav-list-item"><a href="{{ under }}#report">REPORT</a></li>
						<li class="global-header-nav-list-item"><a href="{{ under }}#contact">CONTACT</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main class="wrap">
			{% block content %}
			{% endblock %}
		</main>
		<footer class="global-footer">
			<div class="global-footer-inner">
				<div class="global-footer-title">{{ default['site_info']['title'] }}</div>
				<a class="global-footer-arrow" href="#top">↑</a>
				<small class="global-footer-copyright">&copy; 2019 岳会</small>
			</div>
		</footer>
	</body>
</html>
