{% extends "layout.html" %}
{% block content %}
	<section class="section">
		<div class="page-header">
			<h2 class="page-title">REPORT</h2>
		</div>
	</section>
	<section class="section">
		<div class="news-list js-inview-item">
			{% for news in news_list %}
				<div class="news-list-item">
					<div class="news-list-item-col _left">
						<a class="news-list-item-col-thumb" style="background-image:url('{{ default['build_route'] }}/images/news_thumb_sample.jpg')" href=""></a>
					</div>
					<div class="news-list-item-col _right">
						<div class="news-list-item-col-date">{{ news.date }}</div>
						<div class="news-list-item-col-cat">{{ news.cat }}</div>
						<div class="news-list-item-col-title">{{ news.title }}</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
