[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
collections = "*"
matplotlib = "*"
sys = "*"
glob = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
rf = "python3 app.py file"
rd = "python3 app.py dir"
