extends _layout.pug
block vars
	-
		ogp = {
			'title':'インデックス用に変更',
			'description':'インデックス用に変更',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
		}
	- slug = 'home'
block contents
	.posts
