<!DOCTYPE html>
html
    head
        link(rel="stylesheet" href="./build/css/style.css" type="text/css")
    body(class=slug)
        block contents
            .wrap
                .inner
                    .error-kun
                        .error-kun-eyes._left
                        .error-kun-eyes._right
        block scripts
            script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js")
            script(src="./build/js/common.min.js" type="text/javascript")