<!DOCTYPE html>
html
    head
        block head
            link(rel='stylesheet' href='/build/css/style.css')
    body
        .wrap
            block header
                header#global_header.global_header
                    .global_header-inner
                        .global_header-title
                            h1 TestAxios
            block contents
            block footer
                footer#global_footer.global_footer
                    .global_footer-inner
        block scripts
            script(src='/build/js/main.js')