<!DOCTYPE html>
html
    head
        link(rel="stylesheet" href="./build/css/style.css" type="text/css")
    body
        .wrap
            .inner
                .error-kun
                    .error-kun-eyes._left
                    .error-kun-eyes._right
        script(src="./build/js/common.min.js" type="text/javascript")