block page_title
    -
        var page_title = '',
            slug = ''
<!DOCTYPE html>
html
    head
        link(rel="stylesheet" href="./build/css/style.css" type="text/css")
    body(class=`${slug}`)
        block contents
            .wrap
                .inner
                    .page-title #{page_title}
                    .items
                        - for(var i=0; i < 100; i++)
                            .item ITEM
        include _inc_script